*{
    margin: 0;
    padding: 0;
}
h1{
  color: whitesmoke;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#text{
  width: 90vw;
  height: 20vh;
}
#color{
  color: #252525; ;
}
.color{
  background-color: black;
}
.hover{
  position: absolute;
  width: 100vw;
}